@import 'mixins.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  button, a {
    -webkit-tap-highlight-color: transparent;
  }
}

:root {
  --main-color: #eaff00;
  /* --button-hover-color: #3c5adf; */
  --background-color: #1A1A1A;
  --dark-gray: #242424;
  --gray-color: #D9D9D9;
  --border-color: #424242;
  --text-color: #98989c;
//Dimensions
--footer-height: 80px;
}

