
@mixin page {
  padding: 20px;
  display: flex;
  height: calc(100vh - var(--footer-height));
  flex-direction: column;
  justify-content: start;
  gap: 20px;
  background-color: var(--background-color);

  @media (min-width: 500px ) {
    //desktop
    padding: 20px;
    width: 420px;
    min-width: 300px;
    overflow-y: auto;
    height: 100vh;
  }
}

@mixin layout-padding {
  padding: 20px;
}

@mixin card-style {
  background-color: var(--dark-gray);
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin background-card-style {
  background: linear-gradient(135deg, rgba(36, 36, 36, 0.9) 0%, rgba(36, 36, 36, 0.2) 100%);
  backdrop-filter: blur(20px);
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--border-color);
}

@mixin border-card-style {
  border: 1px solid var(--border-color);
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@mixin button-style($bg-color, $text-color) {
  background-color: $bg-color;
  color: $text-color;
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-normal);
  cursor: pointer;
  text-align: center;

  &:hover {
    opacity: 0.8;
  }
}

@mixin text-center {
  text-align: center;
}

@mixin text-highlight {
  color: #ff0;
  font-weight: var(--font-weight-bold);
}

@mixin input {
  border: 1px solid var(--border-color);
  border-radius: 15px;
  background-color: var(--dark-gray);
  padding: 15px 30px;
  font-size: var(--font-size-base);
  line-height: var(--line-height-normal);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--text-color);
}

@mixin label {
  color: white;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-normal);
}

@mixin menuItem {
  border: 1px solid var(--border-color);
  border-radius: 15px;
  background-color: var(--dark-gray);
  padding: 5px;
  font-size: var(--font-size-base);
  line-height: var(--line-height-normal);
  font-weight: var(--font-weight-light);
  color: var(--text-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@mixin text {
  font-size: var(--font-size-sm);
  color: var(--text-color);
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-relaxed);
  align-items: start;
  text-align: start;
  display: flex;
  flex-direction: row;
}

@mixin pageName {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-tight);
  padding-top: 20px;
  color: white;
  text-align: start;
}