@import '/src/mixins.scss';

.workoutPage {
  @include page;
  @include layout-padding;

  .pageName {
    font-size: 18px;
  }

  .exerciseTitle {
    font-size: 18px;
    color: var(--main-color);
    font-weight: 500;
  }
}

.prevSkip {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;

  button {
    width: 100%;
  }
}

.actionButtons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.header {
  @include text-center;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .backArrow{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .icon{
      color: white;
      font-size: 20px;
    }
  }
}

.exerciseTitle {
  @include text-highlight;
  font-size: 24px;
  margin-bottom: 10px;
}

.exerciseInfoBox {
  background-color: var(--dark-gray);
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  color: white;
  gap: 20px;

  .exerciseInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .infoItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
    }

    .infoType {
      font-size: 14px;
      color: var(--gray-color);
    }

    .infoValue {
      font-size: 18px;
      color: var(--main-color);
      font-weight: 400;
    }
  }
  .progressBar {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .progressBar .exerciseNumber {
    flex-basis: 20%;
    @include text;
    align-items: center;
    text-align: center;
    display: block;
  }
  
  .progressBar .progress {
    flex-basis: 80%;
  }
}


.inputs {
  @include border-card-style;
  width: 100%;
  max-width: 400px;
  text-align: center;
  color: white;
  flex-grow: 3;

  // .detailsRow {
  //     display: flex;
  //     justify-content: space-between;
  //     width: 100%;

  //     .detailsItem {
  //         margin: 10px 0;
  //     }
  // }
}

.mid{
  // flex-grow: 1;
  // color: var(--gray-color);
  // background-color: var(--dark-gray);
  // border-radius: 15px;
  // padding: 20px;
  // width: 100%;
  // height: auto;
  // display: flex;
  // flex-direction: column;
  // gap: 10px;
  // @include text;
  // .title{
  //   @include text;
  // }
}


.notes{
  @include text;
  text-align: center;
  display: flex;
  justify-content: center;
}

// @media screen and (max-height: 800px) {
//   .workoutPage {
//     gap: 10px;
//   }
//   .exerciseInfoBox {
//     padding: 10px;
//     gap: 10px;
//   }
//   .inputs{
//     flex-grow: 0;
//     max-height: 300px;
//   }

//   .prevSkip {
//     gap: 5px;

//     button {
//       padding: 5px;
//       font-size: 14px;
//     }
//   }

//   .actionButtons {
//     gap: 5px;

//     button {
//       padding: 10px;
//       font-size: 14px;
//     }
//   }
//   .mid{
//     display: none;
  
//   }
// }


@media screen and (max-height: 700px) { // iPhone X height
  .workoutPage {
    gap: 10px;
    justify-content: space-between;
  }
  .exerciseInfoBox {
    padding: 10px;
    gap: 10px;
  }

  .inputs {
    flex-grow: 0;
  }

  .prevSkip {

    button {
      padding: 5px;
      font-size: 14px;
    }
  }

  .actionButtons {

    button {
      padding: 10px;
      font-size: 14px;
    }
  }

  .notes {
    display: none; // Hide notes on small screens to save space
  }
}