@import '/src/mixins.scss';

.profileContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.profileInfo {
    @include card-style;
    width: 100%;
    gap: 10px;

    .userDetails {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;

        .userName {
            font-size: 18px;
            color: var(--main-color);
            font-weight: 500;
        }

        .userEmail {
            font-size: 16px;
            color: var(--text-color);
            font-weight: 400;
        }
    }
}

.editButton {
    width: 100%;
}