@import '/src/mixins.scss';

.menu {
    @include menuItem;
    display: flex;
    flex-direction: column;
    max-width: 50vw;
    width: 200px;
    z-index: 10000;
    position: absolute;
    margin-top: 5px;
    animation: popIn 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

.menuItem {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 10px;
  

  &:not(:first-child) {
    border-top: 1px solid var(--border-color);
  }

  &:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
  }

  .icon {
    font-size: 16px;
    color: white;
  }

  .name {
    flex-grow: 1;
    color: white;
    text-align: start;
  }

  .arrow {
    font-size: 18px;
    color: var(--text-color);
  }
}
