@import '../../mixins.scss';

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;

  .input {
    width: 100%;
    padding-right: 45px; // Make room for the absolute icon
  }

  .icon {
    position: absolute;
    right: 15px;
    color: var(--text-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.2s ease, transform 0.1s;

    &:active {
      color: var(--main-color);
      transform: scale(0.9);
    }
  }
}
