@import '/src/mixins.scss';

.homePage {
  @include page;
  @include layout-padding;

  .pageName {
    @include pageName;
  }

  .exerciseTitle {
    font-size: 18px;
    color: var(--main-color);
    font-weight: 500;
  }

  .prevSkip {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;

    button {
      width: 100%;
    }
  }

  .actionButtons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .header {
    @include text-center;
    color: white;
  }

  // .exerciseTitle {
  //   @include text-highlight;
  //   font-size: 24px;
  //   margin-bottom: 10px;
  //   background-color: aqua;
  // }

  .exerciseInfoBox {
    @include background-card-style;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    color: white;
    gap: 20px;
    min-height: 400px;

    .exerciseInfo {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      .infoItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
      }

      // .infoType {
      //   font-size: 14px;
      //   color: var(--dark-gray);
      // }

      .infoValue {
        font-size: 18px;
        color: var(--main-color);
        font-weight: 400;
      }
    }
  }

  .inputs {
    @include border-card-style;
    width: 100%;
    max-width: 400px;
    text-align: center;
    color: white;
  }

  .emptyStateText {
    color: var(--text-color);
  }

  .emptyStateActions {
    margin-top: 12px;
  }
}

.dialogContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}