@import '/src/mixins.scss';

.errorContainer {
    background-color: var(--dark-gray);
    border: 1px solid var(--main-color);
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    
    .iconWrapper {
        display: flex;
        justify-content: center;
        align-items: center;

      .icon {
        color: var(--main-color);
        width: 24px;
        height: 24px;
      }
    }
    
    .messageWrapper {
      flex: 1;

      .title {
        display: block;
        font-weight: var(--font-weight-normal);
        color: var(--main-color);
      }

      .message {
      @include text;
      }
    }

    .closeButton {
      background: none;
      border: none;
      cursor: pointer;
      color: var(--text-color);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 4px;
      border-radius: 8px;
      opacity: 0.7;
      flex-shrink: 0;
      &:hover {
        opacity: 1;
      }
    }
  }