.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: var(--footer-height);
    background-color: #242424;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2vh;
    gap: 2vw;
    font-size: 16px;
    text-align: center;

    @media (min-width: 500px) {
        //desktop
        width: 420px;
        height: 79px;
        min-width: 300px;

    }
}

.footer a {
    text-decoration: none;
    color: white;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer a.active {
    color: var(--main-color);
    font-weight: 500;
}

.footer a.unActive {
    color: white;
}

.footer a svg {
    margin-bottom: 4px;
}