.noTextDecoration {
    text-decoration: none;
}

.eserciseItem {
    background-color: var(--dark-gray);
    border-radius: 15px;
    padding: 20px;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;  // ensures vertical alignment of the title and icon

        .exerciseTitle {
            font-size: 18px;
            color: var(--main-color);
            font-weight: 500;
        }

        .moreIconWrapper {
            position: relative;
            display: flex;
            justify-content: flex-end;
        }

        .moreIcon {
            cursor: pointer;
        }
    }

    .subtitle {
        font-size: 16px;
        color: var(--text-color);
        font-weight: 400;
        text-align: start;
    }
}
