@import '/src/mixins.scss';

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  label {
    display: flex;
    flex-direction: column;
    gap: 5px;

    input,
    textarea {
      @include input;
    }
  }

  button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
}
