@import '/src/mixins.scss';

.chartContainer {
    @include border-card-style;
    width: 100%;
    height: 225px;
    display: flex;
    flex-direction: column;
    // overflow-x: scroll;
    // gap: 10px;
    
    .name {
      @include text;
      align-self: flex-start;
    }
  
    .chart {
      text-align: start;
      color: white;
      overflow-x: auto;
      gap: 8px;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      width: 100%;
      justify-content: flex-start;
    }
  }
  